<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul >
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

<ul align="center">
  <div  class="field" align="center">
    <%= f.label :reg %><br />
    <%= f.text_field :reg %>
  </div>
  <div class="field">
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :engine %><br />
    <%= f.select :engine, ["1.0", "1.2","1.3","1.4","1.5","1.6","1.8","2.0","2.2","2.6"], :include_blank => :true %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
     <%= f.select :size, ["saloon", "Hatchback","Humvee","truck"],:include_blank => :true %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </ul>
<% end %>
