<h1 align="center" >Ads Available</h1>

<table>
  <tr>
    <th>Reg</th>
    <th>Make</th>
    <th>Model</th>
    <th>Engine</th>
    <th>Size</th>
    <th>Price</th>
    <th>Photo</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.reg %></td>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <td><%= car.engine %></td>
    <td><%= car.size %></td>
    <td><%= car.price %></td>
    <td><%= car.photo %></td>
    <td><%= car.description %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<script>

function bigImg(x) {
    x.style.height = "300px";
    x.style.width = "300px";
}
function normalImg(x) {
    x.style.height = "200px";
    x.style.width = "200px";
}
</script>
</p>
<style>
    div.container {
      display:inline-block;
    }
  
</style>
<div class="container">
<img src="http://upload.wikimedia.org/wikipedia/commons/7/70/Audi_R8_5.2_FSI.JPG" height="200" width="200" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" `/>
</div>
<div class="container">
<img class="middle-img" src="http://juliewight.com/wp-content/uploads/2013/11/cars-wallpaper-hd-1366x768.jpg" / height="200" width="200" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0"/>
</div>
<div class="container">
<img src="http://www.wallsave.com/wallpapers/1366x768/justin-bieber/256950/justin-bieber-entertainment-world-top-cars-gallery-256950.jpg" height="200" width="200" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0"/>
</div>
<div class="container">
<img src="http://style.gq.com.au//media/images/8/4/1/6/0/841663-1_ll.jpg?" height="200" width="200" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0"/>
</div>
<div class="container">
<img src="http://daxueconsulting.com/wp-content/uploads/2013/02/Daxueconsulting-China-China-Market-Research-on-Automobili-Lamborghini%E2%80%99s-Luxury-Cars.jpg" height="200" width="200" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0"/>
</div>
<div class="container">
<img src="http://www.sexyli.com/wp-content/uploads/2013/08/automotive-2012-camaro-zl1-wallpapers-high-resolution-car-background-super-car-chevrolet-camaro-zl1-collections.jpg" height="200" width="200" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0"/>
<p>
