<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div align="center" class="field">
    <%= f.label :car_id %><br />
    <%= f.number_field :car_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
